formacion/daw1/lenguaje-marcas/ut4-xsd/24-05-09-primeros-ejercicios-xsd/dtdejercicio1/biblioteca.dtd

<!ELEMENT BIBLIOTECA (LIBRO+)>
<!-- 'BIBLIOTECA' contiene uno o m치s 'LIBRO'. -->

<!ELEMENT LIBRO (TITULO, AUTOR+, EDITORIAL?, ANO?)>
<!-- 'LIBRO' contiene 'TITULO', uno o m치s 'AUTOR', y opcionalmente 'EDITORIAL' y 'ANO'. -->

<!ATTLIST LIBRO COD CDATA #REQUIRED>
<!-- Atributo 'COD' para 'LIBRO'. -->

<!ELEMENT TITULO (#PCDATA)>
<!-- 'TITULO' es texto interpretado. -->

<!ELEMENT AUTOR (#PCDATA)>
<!-- 'AUTOR' es texto interpretado. -->

<!ELEMENT EDITORIAL (#PCDATA)>
<!-- 'EDITORIAL' es texto interpretado (opcional). -->

<!ELEMENT ANO (#PCDATA)>
<!-- 'ANO' es texto interpretado (opcional). -->

<!-- Los tipos de datos PCDATA y CDATA se refieren a c칩mo se interpretan los datos 
    dentro del XML. PCDATA se interpreta y puede contener caracteres especiales 
    que deben ser escapados, mientras que CDATA se considera datos de caracteres 
    no interpretados y puede contener cualquier car치cter especial sin necesidad 
    de escaparlos. -->
