backup_2024-12-10/Portafolio/DAW1/Lenguaje de Marcas/UT4-XSD/24-05-16-RepasoPreExamenLinea/xsd/linea.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="linea">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="inicio"/>
                <xs:element name="fin"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>