EvaluacionesTrimestres/TerceraEvaluacion/UT4-XSD/24-05-16-RepasoPreExamenDirecciones/xsd/direcciones.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Address">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Street"/>
                <xs:element name="City"/>
                <xs:element name="Country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>