LenguajeDeMarcas/TerceraEvaluacion/UT4-XSD/24-05-16-RepasoPreExamenBingo/xsd/bingo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bingo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bolas" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="numeroBola" type="NumeroDeBola"/>
                    </xs:complexType>
                </xs:element>     
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="NumeroDeBola">
        <xs:restriction base="xs:positiveInteger">
            <xs:minExclusive value="1"/>
            <xs:maxExclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>