Portafolio/DAW1/UT4-XSD/24-05-10-EjercicioXSDAvanzado/grupo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="grupo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="persona" type="datosDePersona" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="datosDePersona">
        <xs:sequence>
            <xs:group ref="datosBasicos"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="datosBasicos">
        <xs:sequence>
            <xs:element name="pais"/>
            <xs:element name="ciudd"/>
            
        </xs:sequence>
    </xs:complexType>
</xs:schema>