EvaluacionesTrimestres/TerceraEvaluacion/UT4-XSD/24-05-10-EjercicioXSDIndicadorALL/lugar.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="lugar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ciudad" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="pais"></xs:element>
                            <xs:element name="nombre"></xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>